extends layout

block content
	div#main
		p#titulo Adivina el número del 0 al 20
		p#login Introduce tu nombre para empezar:
			input#username(type='text', size='10')
		p#respuesta La respuesta correcta es
		p#pideNum Introduce tu numero:
			input#numero(type='number')
		ul#respuestas