extends layout

block content
	div#main
		p#titulo Adivina el número del 1 al 50
		p#login Introduce tu nombre para empezar:
			input#username(type='text', size='10')
		p#error
		p#pideNum Introduce tu numero:
			input#numero(type='text')
		ul#respuestas