body {
 	padding: 50px;
 	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-image: url(/images/fondo1.jpg); 
}

#main {
	margin: auto;
	margin-top: 100px;
	border: 1px solid #3dc0bc;
	width: 500px;
	height: 700px;
	background-color: #3dc0bc;
	border-radius: 10px;
}

#titulo {
	margin-top: 20px;
	font-size: 30px;
	text-align: center;
}

#respuesta {
	margin-left: 15px;
	font-size: 17px;
	font-weight: bold;
}

#propuesta {
	padding: 5px;
	font-size: 17px;
	margin-left: 5px;
}